<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>712624462.8711981</string>
					<key>XcodeLocation</key>
					<string>{"MemberID":"Ze5-6b-2t3"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>spotifyiOS/Base.lproj/LaunchScreen.storyboard</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBDocumentMemberLocation</string>
			</dict>
			<key>title</key>
			<string>View</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>712633542</string>
					<key>XcodeLocation</key>
					<string>{"MemberID":"hVT-yz-tAb"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>spotifyiOS/Base.lproj/LaunchScreen.storyboard</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IBDocumentMemberLocation</string>
			</dict>
			<key>title</key>
			<string>Warning: Position is ambiguous for "WhatsApp Image 2023-08-01 at 20.07.08".</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
